STRIPE_SECRET_KEY=sk_test_votre_cle_secrete
STRIPE_PUBLISHABLE_KEY=pk_test_votre_cle_publique
FCM_SERVER_KEY=votre_fcm_server_key

FCM_SERVER_KEY=BODECmouLizAPDHiccBAY-KH9oolhzXVNpF16UEgZYzXf1m8h0hU_5z0Cxoel-sNVcxZwKw86alWOkEyKFFfdpo